# Coleta de Dados no MongoDB com Python

In [2]:
import pymongo

In [3]:
# Conexão ao banco de dados
con = pymongo.MongoClient('localhost', 27017)

In [4]:
# Listar os bancos de dados existentes
con.list_database_names()

['admin', 'config', 'igti', 'local']

In [5]:
# Selecionar o banco de dados
db = con.igti

In [6]:
# Listar as coleções
db.list_collection_names()

['irisDump', 'iris', 'pessoas']

In [7]:
# Seleciona a coleção
collection = db.iris

In [8]:
# Selecionar o primeiro elemento da coleção
collection.find_one()

{'_id': ObjectId('5fdb62d5754e000051004842'),
 'Sepal_Length': 5.1,
 'Sepal_Width': 3.5,
 'Petal_Length': 1.4,
 'Petal_Width': 0.2,
 'Species': 'setosa'}

In [9]:
con

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [10]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'igti')

In [12]:
# Selecionar o primeiro elemento da coleção que atenda a condição
print(collection.find_one({"Sepal_Length": 5.1}))

{'_id': ObjectId('5fdb62d5754e000051004842'), 'Sepal_Length': 5.1, 'Sepal_Width': 3.5, 'Petal_Length': 1.4, 'Petal_Width': 0.2, 'Species': 'setosa'}

In [13]:
import pprint

In [14]:
pprint.pprint(collection.find_one({"Sepal_Length": 5.1}))

{'Petal_Length': 1.4,
 'Petal_Width': 0.2,
 'Sepal_Length': 5.1,
 'Sepal_Width': 3.5,
 'Species': 'setosa',
 '_id': ObjectId('5fdb62d5754e000051004842')}

In [15]:
for documents in collection.find({"Sepal_Length": 5.1}):
    pprint.pprint(documents)

{'Petal_Length': 1.4,
 'Petal_Width': 0.2,
 'Sepal_Length': 5.1,
 'Sepal_Width': 3.5,
 'Species': 'setosa',
 '_id': ObjectId('5fdb62d5754e000051004842')}
{'Petal_Length': 1.4,
 'Petal_Width': 0.3,
 'Sepal_Length': 5.1,
 'Sepal_Width': 3.5,
 'Species': 'setosa',
 '_id': ObjectId('5fdb62d5754e000051004853')}
{'Petal_Length': 1.5,
 'Petal_Width': 0.3,
 'Sepal_Length': 5.1,
 'Sepal_Width': 3.8,
 'Species': 'setosa',
 '_id': ObjectId('5fdb62d5754e000051004855')}
{'Petal_Length': 1.5,
 'Petal_Width': 0.4,
 'Sepal_Length': 5.1,
 'Sepal_Width': 3.7,
 'Species': 'setosa',
 '_id': ObjectId('5fdb62d5754e000051004857')}
{'Petal_Length': 1.7,
 'Petal_Width': 0.5,
 'Sepal_Length': 5.1,
 'Sepal_Width': 3.3,
 'Species': 'setosa',
 '_id': ObjectId('5fdb62d5754e000051004859')}
{'Petal_Length': 1.5,
 'Petal_Width': 0.2,
 'Sepal_Length': 5.1,
 'Sepal_Width': 3.4,
 'Species': 'setosa',
 '_id': ObjectId('5fdb62d5754e000051004869')}
{'Petal_Length': 1.9,
 'Petal_Width': 0.4,
 'Sepal_Length': 5.1,
 'Sepal_Width': 3.8,
 'Species': 'setosa',
 '_id': ObjectId('5fdb62d5754e00005100486e')}
{'Petal_Length': 1.6,
 'Petal_Width': 0.2,
 'Sepal_Length': 5.1,
 'Sepal_Width': 3.8,
 'Species': 'setosa',
 '_id': ObjectId('5fdb62d5754e000051004870')}
{'Petal_Length': 3.0,
 'Petal_Width': 1.1,
 'Sepal_Length': 5.1,
 'Sepal_Width': 2.5,
 'Species': 'versicolor',
 '_id': ObjectId('5fdb62d5754e0000510048a4')}

In [16]:
# Listar as coleções
db.list_collection_names()

['irisDump', 'iris', 'pessoas']

## Criar banco de dados e coleção

In [17]:
con = pymongo.MongoClient("mongodb://localhost:27017/")

In [18]:
db = con["Vendas"]

In [20]:
con.list_database_names()

['admin', 'config', 'igti', 'local']

In [21]:
colecao = db["clientes"]

In [22]:
db.list_collection_names()

[]

In [23]:
documento = {"nome": "maria", "idade": 23}

In [24]:
resultado = colecao.insert_one(documento)

In [25]:
print(resultado)

<pymongo.results.InsertOneResult object at 0x0000020AAD5B7480>

In [26]:
con.list_database_names()

['Vendas', 'admin', 'config', 'igti', 'local']

In [27]:
db.list_collection_names()

['clientes']

In [28]:
print(colecao.find_one())

{'_id': ObjectId('5fdb8da2de85f7c26105abc3'), 'nome': 'maria', 'idade': 23}

In [29]:
for resultado in colecao.find():
    pprint.pprint(resultado)

{'_id': ObjectId('5fdb8da2de85f7c26105abc3'), 'idade': 23, 'nome': 'maria'}

In [30]:
documento = [
    {"nome": "jorge", "idade": 33},
    {"nome": "ana"},
    {"nome": "Willian", "endereco": "Avenida Central n. 954"},
    {"nome": "ana", "endereco": "Avenida Central n. 954"},
    {"nome": "William", "endereco": "Avenida Central n. 954"},
    {"nome": "William"}
]

In [31]:
pprint.pprint(documento)

[{'idade': 33, 'nome': 'jorge'},
 {'nome': 'ana'},
 {'endereco': 'Avenida Central n. 954', 'nome': 'Willian'},
 {'endereco': 'Avenida Central n. 954', 'nome': 'ana'},
 {'endereco': 'Avenida Central n. 954', 'nome': 'William'},
 {'nome': 'William'}]

In [32]:
resultado = colecao.insert_many(documento)

In [33]:
print(resultado)

<pymongo.results.InsertManyResult object at 0x0000020AAD615740>

In [34]:
for resultado in colecao.find():
    pprint.pprint(resultado)

{'_id': ObjectId('5fdb8da2de85f7c26105abc3'), 'idade': 23, 'nome': 'maria'}
{'_id': ObjectId('5fdb8ed2de85f7c26105abc4'), 'idade': 33, 'nome': 'jorge'}
{'_id': ObjectId('5fdb8ed2de85f7c26105abc5'), 'nome': 'ana'}
{'_id': ObjectId('5fdb8ed2de85f7c26105abc6'),
 'endereco': 'Avenida Central n. 954',
 'nome': 'Willian'}
{'_id': ObjectId('5fdb8ed2de85f7c26105abc7'),
 'endereco': 'Avenida Central n. 954',
 'nome': 'ana'}
{'_id': ObjectId('5fdb8ed2de85f7c26105abc8'),
 'endereco': 'Avenida Central n. 954',
 'nome': 'William'}
{'_id': ObjectId('5fdb8ed2de85f7c26105abc9'), 'nome': 'William'}

In [35]:
condicao = {'nome': 'ana'}
valor = {"$set": {"logradouro": "Avenida JK", "num": 345}}
colecao.update_one(condicao, valor)

for resultado in colecao.find():
    pprint.pprint(resultado)

{'_id': ObjectId('5fdb8da2de85f7c26105abc3'), 'idade': 23, 'nome': 'maria'}
{'_id': ObjectId('5fdb8ed2de85f7c26105abc4'), 'idade': 33, 'nome': 'jorge'}
{'_id': ObjectId('5fdb8ed2de85f7c26105abc5'),
 'logradouro': 'Avenida JK',
 'nome': 'ana',
 'num': 345}
{'_id': ObjectId('5fdb8ed2de85f7c26105abc6'),
 'endereco': 'Avenida Central n. 954',
 'nome': 'Willian'}
{'_id': ObjectId('5fdb8ed2de85f7c26105abc7'),
 'endereco': 'Avenida Central n. 954',
 'nome': 'ana'}
{'_id': ObjectId('5fdb8ed2de85f7c26105abc8'),
 'endereco': 'Avenida Central n. 954',
 'nome': 'William'}
{'_id': ObjectId('5fdb8ed2de85f7c26105abc9'), 'nome': 'William'}

In [36]:
for resultado in colecao.find({'nome': 'ana'}):
    pprint.pprint(resultado)

{'_id': ObjectId('5fdb8ed2de85f7c26105abc5'),
 'logradouro': 'Avenida JK',
 'nome': 'ana',
 'num': 345}
{'_id': ObjectId('5fdb8ed2de85f7c26105abc7'),
 'endereco': 'Avenida Central n. 954',
 'nome': 'ana'}

In [37]:
for resultado in colecao.find({'nome': 'William'}):
    pprint.pprint(resultado)

{'_id': ObjectId('5fdb8ed2de85f7c26105abc8'),
 'endereco': 'Avenida Central n. 954',
 'nome': 'William'}
{'_id': ObjectId('5fdb8ed2de85f7c26105abc9'), 'nome': 'William'}

In [38]:
condicao = {'nome': 'William'}
colecao.delete_one(condicao)

In [39]:
for resultado in colecao.find({'nome': 'William'}):
    pprint.pprint(resultado)

{'_id': ObjectId('5fdb8ed2de85f7c26105abc9'), 'nome': 'William'}

In [40]:
condicao = {'nome': 'William'}
colecao.delete_many(condicao)

In [41]:
for resultado in colecao.find({'nome': 'William'}):
    pprint.pprint(resultado)

In [42]:
for resultado in colecao.find():
    pprint.pprint(resultado)

{'_id': ObjectId('5fdb8da2de85f7c26105abc3'), 'idade': 23, 'nome': 'maria'}
{'_id': ObjectId('5fdb8ed2de85f7c26105abc4'), 'idade': 33, 'nome': 'jorge'}
{'_id': ObjectId('5fdb8ed2de85f7c26105abc5'),
 'logradouro': 'Avenida JK',
 'nome': 'ana',
 'num': 345}
{'_id': ObjectId('5fdb8ed2de85f7c26105abc6'),
 'endereco': 'Avenida Central n. 954',
 'nome': 'Willian'}
{'_id': ObjectId('5fdb8ed2de85f7c26105abc7'),
 'endereco': 'Avenida Central n. 954',
 'nome': 'ana'}