# Coleta de dados no MongoDB com R

In [1]:
install.packages('mongolite')

package 'mongolite' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\vivie\AppData\Local\Temp\RtmpOMLvGN\downloaded_packages

In [2]:
# Importação de biblioteca
require(mongolite)

Loading required package: mongolite
Warning message:
"package 'mongolite' was built under R version 3.6.3"

In [3]:
# Conectar ao SGBD MongoDB
connection <- mongo(collection = "megasena", db = "igti", url = "mongodb://localhost")

Registered S3 method overwritten by 'openssl':
  method      from
  print.bytes Rcpp

In [4]:
query <- connection$find('{Ganhadores_Sena":"1"}')

ERROR: Error: Invalid JSON object: {Ganhadores_Sena":"1"}

In [5]:
exam_scores <- query[c("Rateio_Sena")]

ERROR: Error in eval(expr, envir, enclos): objeto 'query' não encontrado

# Ler a coleção Iris no arquivo CSV e inserir no MongoDB

In [6]:
iris <- read.csv("C:/Bootcamp/Datasets/CSV/Iris.csv");

ERROR: Error in read.table(file = file, header = header, sep = sep, quote = quote, : no lines available in input

In [7]:
# Conectar ao SGBD MongoDB, a uma coleção específica
connection <- mongo(collection = "iris", db = "igti", url = "mongodb://localhost")

In [8]:
connection$insert(iris)

List of 5
 $ nInserted  : num 150
 $ nMatched   : num 0
 $ nRemoved   : num 0
 $ nUpserted  : num 0
 $ writeErrors: list()

In [9]:
connection$find(limit = 5)

  Sepal_Length Sepal_Width Petal_Length Petal_Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

In [10]:
pessoas <- mongo(collection = "pessoas", db = "igti", url = "mongodb://localhost")
str <- c('{"nome": "maria"}', '{"nome": "ana", "idade": 23}','{"nome": "joão"}')
pessoas$insert(str)

List of 6
 $ nInserted  : int 3
 $ nMatched   : int 0
 $ nModified  : int 0
 $ nRemoved   : int 0
 $ nUpserted  : int 0
 $ writeErrors: list()

In [11]:
pessoas$find()

  nome  idade
1 maria NA
2 ana   23
3 joão  NA

In [12]:
pessoas$count()

[1] 3

In [13]:
pessoas$remove('{"idade": 23}')
pessoas$count

function (query = "{}")
{
    check_col()
    mongo_collection_count(col, query)
}
<bytecode: 0x000000005ed9f6d0>
<environment: 0x000000005fc00a88>

In [14]:
pessoas$find()

  nome
1 maria
2 joão

In [15]:
str <- c('{"nome": "bill"}', '{"nome": "anna", "idade": 23}', '{"nome": "josé", "idade": 35}')
pessoas$insert(str)

List of 6
 $ nInserted  : int 3
 $ nMatched   : int 0
 $ nModified  : int 0
 $ nRemoved   : int 0
 $ nUpserted  : int 0
 $ writeErrors: list()

In [16]:
pessoas$find()

  nome  idade
1 maria NA
2 joão  NA
3 bill  NA
4 anna  23
5 josé  35

In [17]:
pessoas$update('{"nome": "bill"}', '{"$set":{"idade": 21}}')

List of 3
 $ modifiedCount: int 1
 $ matchedCount : int 1
 $ upsertedCount: int 0

In [18]:
pessoas$find()

  nome  idade
1 maria NA
2 joão  NA
3 bill  21
4 anna  23
5 josé  35