# 1. Python

## 1.1. Coleções

As coleções permitem armazenar múltiplos itens dentro de uma única unidade. As três coleções mais utilizadas em Python, são: **listas**, **tuplas** e **dicionários**.

### 1.1.1. Listas

Lista é uma coleção de valores indexada, em que cada valor é identificado por um índice. O primeiro item na lista está no índice 0, o segundo no índice 1 e assim por diante.

In [ ]:
nomes = [] # Criar uma lista vazia
nomes.append('Daniel Viana') # Append adiciona um item no fim da lista
print(nomes) #imprime a lista na tela

In [ ]:
nomes.append('Ana Maria')
nomes.append('Carlos')

In [ ]:
print(type(nomes)) # imprime o tipo de dado
print(len(nomes)) #imprime o tamanho da lista
print(nomes)
print(nomes[1]) #imprime o item que está na posição 1 da lista

In [ ]:
nomes[1] = 'Bia'
print(nomes)

In [ ]:
nomes.insert(1, 'Rafael') #insere um elemento na lista em uma posição específica
print(nomes)

In [ ]:
nomes.remove('Bia') #remove um elemento da lista
print(nomes)

In [ ]:
nomes.pop(1) #remove um elemento com base no índice
print(nomes)

### 1.1.2. Tuplas

Tupla é uma estrutura de dados semelhante a lista. Porém, ela tem a característica de ser **imutável**, ou seja, após uma tupla ser criada, ela **não pode ser alterada**.

In [ ]:
nomes = ('Carlos', 'Henrique', 'Gabriel') #cria um tupla

In [ ]:
print(type(nomes))
print(len(nomes))
print(nomes)

In [ ]:
print(nomes[2])

In [ ]:
nomes.append('Ana') # NÃO FUNCIONA - TUPLA NÃO PODE SER ALTERADA

In [ ]:
nomes[1] = 'Bia' # NÃO FUNCIONA - TUPLA NÃO PODE SER ALTERADA

### 1.1.3. Dicionários

Os dicionários representam coleções de dados que contém na sua estrutura um conjunto de pares chave/valor, nos quais cada chave individual tem um valor associado.

In [ ]:
cliente = {
    'Nome': 'Carla',
    'Endereco': 'Rua Python',
    'Cidade':'BH',
    'Telefone': '9900005555'
} # Cria um dicionário

In [ ]:
print(type(cliente))
print(len(cliente))
print(cliente)

In [ ]:
print(cliente['Cidade']) # imprime o valor que está na chave Cidade

In [ ]:
print(cliente['Nome']) # imprime o valor que está na chave Nome

In [ ]:
cliente['Idade'] = 45 # Adiciona um novo elemento no dicionário
print(cliente)

In [ ]:
del cliente['Cidade']
print(cliente)

In [ ]:
cliente2 = {
    'Nome': 'Carla',
    'Endereco': 'Rua Python',
    'Cidade':'BH',
    'Telefone': ['9900005555', '8844446666']
} # Cria um dicionário
print(cliente2)

In [ ]:
print(type(cliente2))

In [ ]:
tel = cliente2['Telefone']
print(type(tel))
print(len(tel))
print(tel)

In [ ]:
print(tel[1])

In [ ]:
print(cliente2['Telefone'][0])

### 1.1.4. Resumo

In [ ]:
nomes = ['Carla', 'Daniel', 'Ingrid', 'Roberto']
estacoes = ('Primavera', 'Verão', 'Outono', 'Inverno')
pessoa = {
    'Nome': 'Ana',
    'email' : 'ana@ana123.com.br'
}

print(type(nomes)) # list
print(type(estacoes)) # tuple
print(type(pessoa)) # dict

# Coleta de dados de API

## API Pokémon

In [ ]:
# Se as bibliocas não forem instaladas, fazer a instalação das mesmas
import json
import requests

In [ ]:
response = requests.get("https://pokeapi.co/api/v2/pokemon/pikachu")

In [ ]:
print(response.status_code) #imprime o status da requisição

In [ ]:
print(response.content) #imprime o conteúdo do retornado pela API

In [ ]:
dados = json.loads(response.content) #serializa a resposta obtida

In [ ]:
for pokemon in dados: #percorre o JSON 
    print(pokemon)

In [ ]:
print(dados["id"]) #id
print(dados["name"]) #nome
print(dados["height"]) #altura
print(dados["weight"]) #peso
print(dados["types"]) #tipos

In [ ]:
pokemon = {}

pokemon["name"] = dados["name"]
pokemon["id"] = dados["id"]
pokemon["height"] = dados["height"]
pokemon["weight"] = dados["weight"]


tipo_pok = []

for tipo in dados["types"]:
    tipo_pok.append(tipo["type"]["name"])

pokemon["type"] = tipo_pok

In [ ]:
print(pokemon)

# Coleta os dados para armazenar no Mysql

In [ ]:
nomes_pokemons = ["charmander","squirtle","rattata","pikachu","clefairy","meowth","psyduck","poliwag","ponyta","cubone","horsea","electabuzz","magmar","porygon","snorlax","dratini","dragonair"]

In [ ]:
pokemon_list = []
for nome in nomes_pokemons:
    data = requests.get("https://pokeapi.co/api/v2/pokemon/"+nome)
    data_json = json.loads(data.content)
    
    pokemon = {}

    pokemon["name"] = data_json["name"]
    pokemon["id"] = data_json["id"]
    pokemon["height"] = data_json["height"]
    pokemon["weight"] = data_json["weight"]  

    tipo_pok = []

    for tipo in data_json["types"]:
        tipo_pok.append(tipo["type"]["name"])

    pokemon["type"] = tipo_pok
    
    pokemon_list.append(pokemon)

In [ ]:
print(pokemon_list[0])

In [ ]:
import mysql.connector

In [ ]:

mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='123456',
    database='teste'
)

print(mydb)

mycursor = mydb.cursor()

In [ ]:
mycursor.execute("SHOW TABLES")

for tb in mycursor:
    print(tb)

In [ ]:
for pokemon in pokemon_list:
    tipo_pok = pokemon["type"][0]
    
    query = "INSERT INTO tb_type (type) SELECT * FROM (SELECT '%s') AS tmp " % tipo_pok
    query += "WHERE NOT EXISTS (SELECT type FROM tb_type WHERE type = '%s') LIMIT 1;"  % tipo_pok

    mycursor.execute(query)

    #Fazer a confirmação da inserção
    mydb.commit()

    print(mycursor.rowcount, "registro(s) inserido(s).")

In [ ]:
for pokemon in pokemon_list:
    tipo_pok = pokemon["type"][0]
    
    query = "INSERT INTO tb_pokemon VALUES(%s, '%s', %s, %s, (SELECT id FROM tb_type WHERE type LIKE '%s')) " % (pokemon["id"], pokemon["name"], pokemon["height"], pokemon["weight"], tipo_pok)
    
    mycursor.execute(query)

    #Fazer a confirmação da inserção    
    mydb.commit()

    print(mycursor.rowcount, " registro inserido.")

In [ ]:
mydb.close() #Fechar o banco de dados